<div class="main-container">
  <div class="main-container__content">
    <div>
      <div class="main-container__link"><%= link_to "< Back to all cocktails", cocktails_path %></div>
      <h1 class="main-container__heading"><%= @cocktail.name %></h1>
      <p class="main-container__title">Ingredients</p>
      <% @cocktail.doses.each do |dose| %>
        <div class="main-container__row">
          <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-minus"></i>
          <% end %>
          <p class="main-container__ingredient"><%= dose.description %></p>
          <p class="main-container__ingredient"><%= dose.ingredient.name %></p>
        </div>
      <% end %>
      <div class="main-container__row">
        <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
      </div>

      <!-- Reviews -->
      <p class="main-container__title">Reviews</p>
      <% if @cocktail.reviews.empty? %>
        <p class="main-container__text">Be the first to write a review</p>
      <% else %>
        <ul>
          <% @cocktail.reviews.each do |review| %>
            <li>
              <% count = 0 %>
              <% 5.times do %>
                <i class="<%= review.rating > count ? 'fas fa-star' : 'far fa-star' %>"></i>
                <% count += 1 %>
              <% end %>
              <%= review.content %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <!-- Button trigger modal -->
      <button type="button" class="button button--primary" data-toggle="modal" data-target="#exampleModalCenter">
        Leave review
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLongTitle">Leave a review</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render "reviews/new", cocktail: @cocktail, review: @review %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Cocktail photo -->
    <%= cl_image_tag @cocktail.photo.key, class: "main-container__photo" if @cocktail.photo.attached? %>
  </div>
</div>
